mixin sStepsItem(i ,p)
	+e.col.col-lg-4.col-sm-6
		+e.item
			+e.img-wrap
				img(src=`img/svg/step-${i}.svg` loading="lazy", alt="")
			p!= p
	// /+e.col.col-4
mixin sStepsBody(t)
	// start sSteps
	+b.SECTION.sSteps.section#sSteps&attributes(attributes)
		.container
			+b.section-title
				h2!= t
				
			
			block
	// end sSteps
mixin sSteps()
	+sStepsBody('Этапы создания интернет-магазина')
		.row
			.col-xl-6.col-lg-7
				.row
					+sStepsItem(`1`,`Написание технического задания исходя из&nbsp;пожеланий заказчика`)
					+sStepsItem(`2`,`Разработка прототипов (скелета) страниц`)
					+sStepsItem(`3`,`Создание дизайн-макетов будущего Интернет-магазина`)
					+sStepsItem(`4`,`Адаптивная под все типы устройств верстка макетов`)
					+sStepsItem(`5`,`Интеграция верстки с&nbsp;системой управления 1С-Битрикс`)
					+sStepsItem(`6`,`Тестирование работоспособности Интернет-магазина`)
			.col-xl-6.col-lg-5
				+e.animate-block
					+pic('mockup-1.png')(class="wow  animate__fadeInDown "  data-wow-delay=`${delay  }s` data-wow-duration=`${dur * 2 }s`)
					+pic('mockup-2.png')(class="wow  animate__fadeInDown "  data-wow-delay=`${delay + 0.1 * 1 }s` data-wow-duration=`${dur * 2 }s`)
					+pic('mockup-3.png')(class="wow  animate__fadeInDown "  data-wow-delay=`${delay + 0.4 * 1 }s` data-wow-duration=`${dur * 2 }s`)
					+pic('mockup-4.png')(class="wow  animate__fadeInDown "  data-wow-delay=`${delay  + 0.8 * 1}s` data-wow-duration=`${dur * 2 }s`)
