mixin sOurWorksItem(i,t, s,pr, a)
	+e.col&attributes(attributes)
		if s
			+b.sOurWorks-item
				+e.DIV.img-wrap
					picture
						+img.swiper-lazy.res-i(src="#" data-src=`sOurWorks-img-${i}.png`, alt="")
				.h6!= t
		else if pr
			+b.A.sOurWorks-item--price.scroll-link(href= a)
				+e.DIV.img-wrap
					+pic(`prod-${i}.png`,'','')
				.h5!= t
				+e.DIV.price: span.text-with-border= pr
				+e.btn.scroll-link Подробнее
		else
			+b.sOurWorks-item(href="#")
				+e.DIV.img-wrap
					+pic(`sOurWorks-img-${i}.png`,'','')
				.h6!= t

mixin sOurWorksBody(t, s,title)
	// start sOurWorks
	+b.SECTION.sOurWorks.section#sOurWorks&attributes(attributes)
		.container
			if title
				+b.section-title--sm.text-center
					h2= t
					p Битрикс24 имеет очень много возможностей, которые позволяют автоматизировать различные бизнес-процессы в&nbsp;любой сфере бизнеса. Поскольку каждая компания, как правило, выстраивает свои бизнес-процессы в&nbsp;индивидуальном порядке, идеальное внедрение Битрикс24 возможно только после выявления задач, нужд и&nbsp;&laquo;болей&raquo; заказчика, которые может решить система.
			else
				+b.section-title
					.row
						.col
							h2!= t
						.col-xsm-auto
							if !s
								a.tdu(href="#") Перейти в портфолио  
									| 
									span 111
							else
								.control-wrap
									+arrow()
			if block
				block
			else
				.row
					+sOurWorksItem('im-1',`Интернет-магазин ротанговой мебели был разработан нами с&nbsp;нуля.`)(class="col-xl-3 col-sm-6")
					+sOurWorksItem('im-2',`Разработка интернет-магазина по&nbsp;продаже кирпича оптом и&nbsp;в&nbsp;розницу с&nbsp;нуля.`)(class="col-xl-3 col-sm-6")
					+sOurWorksItem('im-3',`Разработка интернет-магазина по&nbsp;продаже кирпича оптом и&nbsp;в&nbsp;розницу с&nbsp;нуля.`)(class="col-xl-3 col-sm-6")
					+sOurWorksItem('im-4',`Разработка интернет-магазина по&nbsp;продаже кирпича оптом и&nbsp;в&nbsp;розницу с&nbsp;нуля.`)(class="col-xl-3 col-sm-6")
	// end sOurWorks
mixin sOurWorks(data)
	+sOurWorksBody('Наши работы')

mixin sOurWorks-06(data)
	+sOurWorksBody("Наши клиенты",'sl')
		+e.slider--js.swiper-container
			.swiper-wrapper
				
				+sOurWorksItem('g-1',`Разработка логотипа и&nbsp;гайдлайна для рыбалки, кемпинга и&nbsp;экстремального туризма.`, s)(class="swiper-slide")

				+sOurWorksItem('g-2',`Разработка интернет-магазина по&nbsp;продаже кирпича оптом и&nbsp;в&nbsp;розницу с&nbsp;нуля.`, s)(class="swiper-slide")

				+sOurWorksItem('g-3',`Progress&nbsp;&mdash; производство дверных блоков, кухонной мебели, корпусной и&nbsp;детской мебели, лестниц.`, s)(class="swiper-slide")

				+sOurWorksItem('g-4',`ООО &laquo;ИТЕЛДОР&raquo;&nbsp;&mdash; российский производитель, поставщик и&nbsp;интегратор IT-решений в&nbsp;сфере строительства и&nbsp;эксплуатации автомобильных дорог.`, s)(class="swiper-slide")

				+sOurWorksItem('g-4',`ООО &laquo;ИТЕЛДОР&raquo;&nbsp;&mdash; российский производитель, поставщик и&nbsp;интегратор IT-решений в&nbsp;сфере строительства и&nbsp;эксплуатации автомобильных дорог.`, s)(class="swiper-slide")

mixin sOurWorks-12(data)
	+sOurWorksBody("Стоимость внедрения Битрикс24",'','title')(class="sOurWorks-white")
		.row.g-0
			
			+sOurWorksItem('1',`Пакет «Начальный»`, '','от 20 000 рублей','#pack-1').col-xsm-12.col-sm-6.col-lg-3.col--price
		
			+sOurWorksItem('2',`Пакет «Оптимальный»`, '','от 42 000 рублей','#pack-2').col-xsm-12.col-sm-6.col-lg-3.col--price
		
			+sOurWorksItem('3',`Создание отдела продаж`, '','от 20 000 рублей','#pack-3').col-xsm-12.col-sm-6.col-lg-3.col--price
		
			+sOurWorksItem('4',`Автоматизация и повторные продажи`, '','от 20 000 рублей','#pack-4').col-xsm-12.col-sm-6.col-lg-3.col--price
